.lead {
    margin: 0 auto;
    padding-bottom: 92px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        padding-bottom: 88px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 100%;
        padding-bottom: 64px;
        margin: 0 auto;
    }
}